# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# macOS
.DS_Store

SwiftUIAdvanceLearning.xcodeproj/project.xcworkspace/xcuserdata/
SwiftUIAdvanceLearning.xcodeproj/xcuserdata/
*.xcuserstate